[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "Pixie/vendor/GLFW"]
	path = Pixie/vendor/GLFW
	url = https://github.com/AdamJenderbo/glfw
[submodule "Pixie/vendor/imgui"]
	path = Pixie/vendor/imgui
	url = https://github.com/AdamJenderbo/imgui
[submodule "Pixie/vendor/glm"]
	path = Pixie/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Pixie/vendor/yaml"]
	path = Pixie/vendor/yaml
	url = https://github.com/AdamJenderbo/yaml-cpp
